<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowJavascript</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<false/>
	<key>Attachments</key>
	<dict/>
	<key>BaseBundlePath</key>
	<string>/System/Library/QuickLook/Office.qlgenerator</string>
	<key>CanHavePages</key>
	<true/>
	<key>CenterContent</key>
	<true/>
	<key>Height</key>
	<real>841</real>
	<key>MimeType</key>
	<string>text/html</string>
	<key>TextEncoding</key>
	<string>UTF-8</string>
	<key>Width</key>
	<real>620</real>
</dict>
</plist>
